body 
{
    font-family: Arial, Helvetica, sans-serif;
    color: #756416;
    font-size: large;
    margin: 15px;
    padding: 0;
    text-align: center;
    background-image: url('../imagem/parede_full_hd.jpg'); /* Caminho relativo para a pasta de imagens */
    background-size: cover;
    background-repeat: no-repeat;
}



h1 /* formatando o titulo 1 com tamanho, estilo no caso italico, e o tamanho da fonte*/
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 70px;
    text-align: center; /* deixa os itens dentro do menu alinhado a esquerda*/

}


h2 /* formatar o titulo 2 om tamanho, estilo no caso italico, e o tamanho da fonte*/
{
    text-decoration: underline; 
    font-size: 35px;
}

.bloco_menu /*formatação da posição do menu*/
{ 
    display: flex; /* Flexível de acordo com o conteúdo */
    justify-content: center; /* define a posição do menu na página horizontal*/
    align-items:center; /* difine a posição dos itens dentro do menu verticalmente */
}

.menu {
    border-radius: 10px; /* Formatação dos cantos do espaço do menu */
    border-style: ridge; /* Formatação da borda do menu */
    display: flex; /* Flexível de acordo com o conteúdo */
    flex-direction: flex; /* Formato do menu em linha */
    width: max-content;  /* Define a largura de acordo com o tamanho do texto */
    justify-content: center; /* Alinha os itens dentro do menu */
    background-color: rgb(91, 100, 116);
    padding: 10px;
    margin: 10px;

}

.menu a 
{
    text-decoration:underline; /* formata o estilo da fonte dentro do botão*/
    font-family:cursive; /* formata o estilo da fonte dentro do botão*/
    color: #000000;
    font-size: 18px;
    padding: 10px 30px; /* formatação do espaçamento interno */
    margin: 10px; /* Margem entre os botões */
    border-radius: 5px; /* Formatação dos cantos do botões internos do menu */
    background-color: #7c828f;

}

.menu a:hover /* formatação da mudança de cor ao passar o mouse */
{
    background-color: #ced4da;
    transition: background-color 0.3s ease;
}
