body /* formatação do corpo da página */
{
    font-size:large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    text-align: center;
    background-image: url('trajetoria.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* faz a imagem de fundo não ser repetida */
    background-position: center; /* Centraliza a imagem */
}


h1
{
    font-size: 70px;
    color: #ffffff;
    text-shadow:  -3px -3px 0 #000,3px -3px 0 #000,-3px  3px 0 #000,3px  3px 0 #000; /* Contorno preto */
}

h2
{
    font-size: 50px;
    color: #ffffff;   
}

h3
{
    font-size: 30px;
    color: #ffffff;
}


.menu_button 
{
    display: inline-flex; /* usado para tirar "uma faixa" que ocupa a tela toda*/
    text-decoration:underline; /* formata o estilo da fonte dentro do botão*/
    font-family: comic sans-serif; /* formata o estilo da fonte dentro do botão*/
    color:  #ffffff; /* cor da fonte */
    font-size: 30px; /* tamanho da fonte */
}

.menu_button:hover
{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(131, 30, 30); /* formatação da fonte do botão ao passar o mouse por cima */
}
