body /* formatação do corpo da página */
{
    font-size:large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align:  right;
    background-image: url('contato.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* faz a imagem de fundo não ser repetida */
    background-position: center; /* Centraliza a imagem */
}
