body /* formatação do corpo da página */
{
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed; /* Define a posição fixa para que o elemento permaneça na mesma posição enquanto a página é rolada */
    bottom: 0; /* Posiciona o elemento na parte inferior */
    left: 0; /* Alinha o elemento à esquerda */
    background-image: url('teste_contato_2.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* faz a imagem de fundo não ser repetida */
    background-position: right top; /* Centraliza a imagem */
}
