body /* formatação do corpo da página */
{
    font-size:large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-color: #ffffff;
    text-align: center;
    background-image: url('trajetoria.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* faz a imagem de fundo não ser repetida */
    background-position: center; /* Centraliza a imagem */
}



.menu_button 
{
    display: inline-flex; /* usado para tirar "uma faixa" que ocupa a tela toda*/
    text-decoration:underline; /* formata o estilo da fonte dentro do botão*/
    font-family: comic sans-serif; /* formata o estilo da fonte dentro do botão*/
    color:  #ffffff; /* cor da fonte */
    font-size: 30px; /* tamanho da fonte */
    border-radius: 10px; /* Formatação dos cantos do botões internos do menu */
    background-color: #525457; /* cor de fundo do botão */
    border: 3px outset #404e70; /* Define a borda com estilo "outset" e cor #052975 */
}

.menu_button:hover
{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(131, 30, 30); /* formatação da fonte do botão ao passar o mouse por cima */
 
}
