body /* formatar o corpo da página */
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px;
    color: #ffffff;
    margin: 15px;
    padding:0px;
    text-align:  center; /* o texto do corpo da página centralizado*/
    background-image: url('parede_full_hd.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* faz a imagem de fundo não ser repetida */
    background-position: center; /* Centraliza a imagem */
}

h1 /* formatando o titulo 1 com tamanho, estilo no caso italico, e o tamanho da fonte*/
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 70px;
    color: #000000;
    text-align: center; /* deixa os itens dentro do menu alinhado a esquerda*/
}

h2 /* formatar o titulo 2 om tamanho, estilo no caso italico, e o tamanho da fonte*/
{
    text-decoration: underline; 
    font-size: 40px;
    color: #ffffff;
}

 
.bloco_menu /*formatação da posição do menu*/
{ 
    display: flex; /* Flexível de acordo com o conteúdo */
    justify-content: center; /* define a posição do menu na página horizontal*/
    align-items:center;  /* difine a posição dos itens dentro do menu verticalmente */
}

.menu 
{
    display: flex; /* Flexível de acordo com o conteúdo */
    flex-direction: row; /* Formato do menu em linha */
    width: max-content;  /* Define a largura de acordo com o tamanho do texto */
    justify-content: center; /* Alinha os itens dentro do menu */
    padding: 10px;
    margin: 10px;
}

.menu a 
{
    text-decoration:underline; /* formata o estilo da fonte dentro do botão*/
    font-family:cursive; /* formata o estilo da fonte dentro do botão*/
    justify-content: center; /* Alinha os itens dentro do menu */
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px; /* formatação do espaçamento interno */
    margin: 10px; /* Margem entre os botões */
    border-radius: 5px; /* Formatação dos cantos do botões internos do menu */
}

.menu a:hover /* formatação da mudança de cor ao passar o mouse */
{
    background-color: #ced4da;
    color: #000000;
    transition: background-color 0.3s ease;
}

